    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');
    body {
        max-width: 100vw !important;
        /* background: red; */
        margin: 0px;
        padding: 0px;
    }
    /* Header */
    
    .main-header {
        background-image: url('https://images.unsplash.com/photo-1477336229416-9d67406e73bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        padding-bottom: 30px;
        text-align: center;
        font-family: "Metal Mania";
    }
    /* Navbar */
    
    .nav ul {
        padding: 5px;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    
    .nav li {
        display: inline-block;
        padding: 10px 40px;
    }
    
    .nav a {
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5em;
        color: white;
    }
    
    .nav li:hover a {
        color: rgb(23, 157, 247);
    }
    
    header button {
        padding-left: 20px;
    }
    
    .main-header button {
        font-size: 4.5em;
        color: #2d9cdb;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid #2d9cdb;
        width: 100px;
        height: 100px;
    }
    
    .main-header button:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    section.main-section {
        padding: 10px;
        min-height: 70vh;
    }
    
    .movies-images img {
        min-width: 150px;
        max-width: 400px;
        max-height: 300px;
        /* width: 100px !important; */
        border-radius: 50%;
        margin: 30px;
        padding: 5px;
        border: 10px crimson;
        border-style: groove;
    }
    
    .movies-images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .heading {
        font-size: 2rem;
        left: 10%;
        font-family: "Metal Mania";
        text-align: center;
    }
    
    .movies-images div span {
        position: absolute;
        bottom: 40px;
        right: 0px;
        font-size: 3rem;
    }
    
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background: black;
    }
    
    footer .name {
        color: white !important;
        text-align: center;
        padding: 0 0.5em;
        margin: 0;
        font-size: 4em;
        font-weight: normal;
        font-family: 'Metal Mania';
    }
    
    footer img {
        width: 30px;
        margin: 10px;
        filter: brightness(120%);
        transform: 1s ease;
    }
    
    footer img:hover {
        cursor: pointer;
        filter: brightness(150%);
    }
    
    @media(max-width:800px) {
        footer .name {
            color: white !important;
            text-align: center;
            padding: 0 0.5em;
            margin: 0;
            font-size: 2.5em;
            font-weight: normal;
            font-family: 'Metal Mania';
        }
    }
    
    @media(max-width:1000px) {
        .main-section .main-section-container {
            padding: 10px !important;
        }
    }
    
    #request.main-section {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    
    #request.main-section h1 {
        font-size: 3rem;
        font-family: "Metal Mania";
    }
    
    #request.main-section form {
        font-size: 2rem;
        font-family: "Arial";
        text-align: center;
    }
    
    #request.main-section form .form-group {
        margin: 20px;
        padding: 10px;
    }
    
    #request.main-section form .form-group label {
        margin: 10px;
    }
    
    #request.main-section form .form-group input {
        font-size: 1.5rem;
    }
    
    #request.main-section form input[type="submit"] {
        font-size: 1.2rem;
        border: 20px;
        background: crimson;
        color: #ffffff;
        font-weight: 300;
        border-radius: 10px;
        padding: 10px;
    }
    
    #request.main-section form input[type="submit"]:hover {
        filter: brightness(90%);
        cursor: pointer;
    }
    /* 
     */
    
    .main-section .aboutme-heading {
        text-align: center;
        font-size: 4rem;
        font-family: Metal Mania;
    }
    
    .main-section .main-section-container {
        padding: 2vh 10vw;
    }
    
    .main-section .main-section-container img {
        float: left;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 30px;
        margin-bottom: 20px;
    }
    
    .main-section .main-section-container .about-text {
        font-size: 1.2rem;
        /* margin-left: 100px; */
    }